@using Glass.Mapper.Sc.Web.Mvc
@using Sc.Orm.Mvc
@using Sitecore.Mvc
@model Sc.Orm.Components.GlassExample.Models.Navigation

<h2>Sitecore</h2>

@Html.TimedController("SitecoreExample", "Menu")

<h2>Glass</h2>

@Html.TimedController("GlassExample", "Menu")

<h2>Fortis</h2>

@Html.TimedController("FortisExample", "Menu")

<h2>Synthesis</h2>

@Html.TimedController("SynthesisExample", "Menu")
