@using Glass.Mapper.Sc.Web.Mvc
@using Sc.Orm.Components.FortisExample.Models
@using Sitecore.Data.Fields
@using Sitecore.Mvc
@model Sc.Orm.Components.FortisExample.Models.FortisExampleIndexView

<h2>Fortis - @Model.Title</h2>
<div>
    Watch1: @Model.Watch.ElapsedMilliseconds ms
  
</div>
