@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Data.Fields
@using Sitecore.Mvc
@model Sc.Orm.Components.SitecoreExample.Models.SitecoreExampleIndexView
    

<h2>Sitecore - @Model.Title</h2>
<div>
    Watch: @Model.Watch.ElapsedMilliseconds ms
</div>
